:root {
  /* -clr-lt Light Colour Theme */
  --shadow-clr-lt: #6b6b6b;
  --highlight-clr-lt: #d4d4d4;
  --background-clr-lt: #f8f8f8;
  --header-background-clr-lt: #637ffa;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
  background-color: var(--background-clr-lt);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: var(--header-background-clr-lt);
  width: 100%;
  height: 5rem;
}

#titleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

#userOptionsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  gap: 0.1rem;
}

#logoHeader {
  height: 80%;
}

#logoutButtonHeader {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
